@charset "UTF-8";
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal > .modal_main {
  width: 90%;
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  -webkit-animation: modal-show 0.3s;
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal > .modal_main > header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
}

/* .modal > div > main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
} */

.modal > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* .modal button {
  margin-right: 400px;
} */

.modal.openModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  -webkit-animation: modal-bg-show 0.3s;
  animation: modal-bg-show 0.3s;

  background: rgba(0, 0, 0, 0.7);
}

.openModal .modal_main {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  height: 400px;
  width: 550px;
  background: #ffffff;
  overflow: visible;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.modal_header {
  margin-top: 15px;
  /* position: absolute;
  top: 5%;
  left: 38%; */
  font-family: Poppins;
  font-style: normal;
  line-height: 34px;
  /* or 142% */
  text-align: center;
  letter-spacing: 1px;
  color: #5f2eea;
}
.modal_input_main {
  /* position: absolute; */
  /* top: 20.65%;
  bottom: 25%; */
  margin: 0 auto;
  margin-top: 10px;

  width: 90%;
  border-radius: 8px;
  /* background: #eff0f7; */
  left: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal_input {
  /* position: absolute; */
  width: 100%;
  /* height: 100%;  */
  text-align: left;
  background: #eff0f7;
  border-radius: 8px;
  border: none;
  resize: none;
  color: #14142b;
  letter-spacing: 0.75px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  padding: 10px;
  margin-top: 15px;
  flex-grow: 1;
}

.modal_input:focus {
  outline: none;
}

/* .openModal footer {
  position: absolute;
  bottom: 5%;
  left: 33%;
  height: 56px;
  width: 200px;
  border-radius: 40px;
} */

.openModal .modal_input_main .save {
  /* position: absolute; */
  /* bottom: 20px; */
  display: block;
  width: 150px;
  height: 50px;
  margin: 20px auto;

  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* left: 35%; */
  background: #5f2eea;
  border-radius: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

.openModal .modal_input_main .save:active {
  transform: scale(0.85);
}

.openModal .modal_main .close {
  position: absolute;
  background-color: transparent;
  top: -40px;
  left: 94%;
}
/* datepicker */


.react-datepicker {
  font-size: 1.3rem !important;
  border: 2px solid #5F2EEA !important;
  border-radius: 20px !important;
  overflow: hidden;
  
}

.react-datepicker__month-container{
  font-family: 'Poppins', 'Noto Sans KR' , sans-serif;
}

.react-datepicker__current-month {
  font-size: 1.2rem !important;
  padding: 10px 0;
}

.react-datepicker__header {
  padding-top: 6px !important;
}
.react-datepicker__navigation {
  top: 13px !important;
}



.react-datepicker__day-name{
  font-size: 0.3em;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem !important;
}
.saturday {
  color: rgb(0, 0, 255) !important;
}
.sunday {
  color: rgb(255, 0, 0) !important;
}


.react-datepicker__day--disabled {
  color: #cccccc !important;
}

.react-datepicker__day-names, .react-datepicker__week{
  font-size: 0.7em;
}


.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
  background-color: #5F2EEA !important;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected{
  border: 3px solid #5f2eea;
  background-color: transparent !important;
  color: #5f2eea !important;
  font-weight: 700;
}

.startDate-wrap , .endDate-wrap{
  margin-right: 10px;
  font-size: 0.7em;
}

.startDate-wrap > span, .endDate-wrap > span{
  margin-right: 5px;
}

.startDate-wrap > .element.label,
.endDate-wrap > .element.label {
  font-size: 0.5em;
  padding-left: 0.5em;
}

.startDate-wrap  input,
.endDate-wrap  input {
  /* width: 180px; */
  width: 100%;
  height: 30px;
  padding: 5px 7px;
  background-color: #eff0f6;
  outline: none;
  border: none;
  border-radius: 7px;
}

.startDate-wrap  input:focus,
.endDate-wrap  input:focus {
  border: 3px solid #5f2eea;
  background-color: #fff;
}

.startDate-wrap  input:required,
.endDate-wrap  input:required {
  font-size: 0.7em;
}

/* animation */

@-webkit-keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@-webkit-keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=Modal.css.map */
